html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#contenedorPrincipal {
    width: 100%;   
    height: 100%;
    background-color: white;
}

#encabezado, #pie {
    background-color: #931525;
    width: 100%;   
    height: 8%;   
}

#cuerpo {
    width: 100%;   
    height: 84%;   
}

#contenedores {
    width: 50%;
    height: 100%;
    float: left;
}

#secion1y2 {
    width: 100%;
    height: 50%;
}

#secion3-5 {
    width: 100%;
    height: 33.3%;
}

.logo {
    width: 10%;
    height: 100%;
    float: left;
}

.login {
    width: 14%;
    height: 100%;
    float: left;
}

.menúBotones {
    width: 76%;
    height: 100%;
    float: left;
}

.btnMenu {
    width: 33%;
    height: 100%;
    border: none;
    cursor: pointer;
    color: white; 
    background-color: #931525;
}

.btnMenu:hover {
    opacity: 0.8;
}

.btnMenuSelec {
    width: 33.3%;
    height: 100%;
    border: none;
    cursor: pointer;
    color: white; 
    background-color: #6F0E1A;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.4);
}

.btnMenuSelec:hover {
    opacity: 0.8;
}

.btn1 {
    width: 100%;                     /* ancho del botón */
    height: 100%;                     /* alto del botón */
    border: none;                     /* sin borde */
    color: white;                     /* color del texto */
    font-size: 18px;                  /* tamaño de la fuente */
    font-weight: bold;
    cursor: pointer;
    background-image: url("Imagenes/index/CrearHorarioSemanal.png");  /* aquí tu imagen */
    background-size: cover;           /* ajusta la imagen al tamaño del botón */
    background-position: center;      /* centra la imagen */
    box-shadow: 2px 4px 8px rgba(0,0,0,0.4); /* sombra para que resalte */
    /* Crear ajustes de texto */
}

.btn1:hover {
    opacity: 0.8;                     /* efecto al pasar el mouse */
}

.btn2 {
    width: 100%;                     /* ancho del botón */
    height: 100%;                     /* alto del botón */
    border: none;                     /* sin borde */
    color: white;                     /* color del texto */
    font-size: 18px;                  /* tamaño de la fuente */
    font-weight: bold;
    cursor: pointer;
    background-image: url("Imagenes/index/Dietas.png");  /* aquí tu imagen */
    background-size: cover;           /* ajusta la imagen al tamaño del botón */
    background-position: center;      /* centra la imagen */
    box-shadow: 2px 4px 8px rgba(0,0,0,0.4); /* sombra para que resalte */
    /* Crear ajustes de texto */
}

.btn2:hover {
    opacity: 0.8;                     /* efecto al pasar el mouse */
}

.btn3 {
    width: 100%;                     /* ancho del botón */
    height: 100%;                     /* alto del botón */
    border: none;                     /* sin borde */
    color: white;                     /* color del texto */
    font-size: 18px;                  /* tamaño de la fuente */
    font-weight: bold;
    cursor: pointer;
    background-image: url("Imagenes/index/Calendario.png");  /* aquí tu imagen */
    background-size: cover;           /* ajusta la imagen al tamaño del botón */
    background-position: center;      /* centra la imagen */
    box-shadow: 2px 4px 8px rgba(0,0,0,0.4); /* sombra para que resalte */
    /* Crear ajustes de texto */
}

.btn3:hover {
    opacity: 0.8;                     /* efecto al pasar el mouse */
}

.btn4 {
    width: 100%;                     /* ancho del botón */
    height: 100%;                     /* alto del botón */
    border: none;                     /* sin borde */
    color: white;                     /* color del texto */
    font-size: 18px;                  /* tamaño de la fuente */
    font-weight: bold;
    cursor: pointer;
    background-image: url("Imagenes/index/Alimentos.png");  /* aquí tu imagen */
    background-size: cover;           /* ajusta la imagen al tamaño del botón */
    background-position: center;      /* centra la imagen */
    box-shadow: 2px 4px 8px rgba(0,0,0,0.4); /* sombra para que resalte */
    /* Crear ajustes de texto */
}

.btn4:hover {
    opacity: 0.8;                     /* efecto al pasar el mouse */
}

.btn5 {
    width: 100%;                     /* ancho del botón */
    height: 100%;                     /* alto del botón */
    border: none;                     /* sin borde */
    color: white;                     /* color del texto */
    font-size: 18px;                  /* tamaño de la fuente */
    font-weight: bold;
    cursor: pointer;
    background-image: url("Imagenes/index/TipsParaTuDieta.png");  /* aquí tu imagen */
    background-size: cover;           /* ajusta la imagen al tamaño del botón */
    background-position: center;      /* centra la imagen */
    box-shadow: 2px 4px 8px rgba(0,0,0,0.4); /* sombra para que resalte */
    /* Crear ajustes de texto */
}

.btn5:hover {
    opacity: 0.8;                     /* efecto al pasar el mouse */
}

.btnLogo {
    width: 100%;                     /* ancho del botón */
    height: 100%;                     /* alto del botón */
    border: none;                     /* sin borde */
    color: white;                     /* color del texto */
    font-size: 18px;                  /* tamaño de la fuente */
    font-weight: bold;
    cursor: pointer;
    background-image: url("Imagenes/Login_Perfil/Logo.png");  /* aquí tu imagen */
    background-size: cover;           /* ajusta la imagen al tamaño del botón */
    background-position: center;      /* centra la imagen */
    box-shadow: 2px 4px 8px rgba(0,0,0,0.4); /* sombra para que resalte */
    /* Crear ajustes de texto */
}

.btnLogo:hover {
    opacity: 0.8;                     /* efecto al pasar el mouse */
}

.btnPerfilView {
    width: 100%;                     /* ancho del botón */
    height: 100%;                     /* alto del botón */
    border: none;                     /* sin borde */
    color: white;                     /* color del texto */
    font-size: 18px;                  /* tamaño de la fuente */
    font-weight: bold;
    cursor: pointer;
    background-image: url("Imagenes/Login_Perfil/PerfilView.png");  /* aquí tu imagen */
    background-size: cover;           /* ajusta la imagen al tamaño del botón */
    background-position: center;      /* centra la imagen */
    box-shadow: 2px 4px 8px rgba(0,0,0,0.4); /* sombra para que resalte */
    /* Crear ajustes de texto */
}

.btnPerfilView:hover {
    opacity: 0.8;                     /* efecto al pasar el mouse */
}

.fondoLogin {
    background-size: cover;           /* ajusta la imagen al tamaño del botón */
    background-position: center; 
}

#contenedorLogin {
    width: 100%;
    height: 90%;
    float: left;
    background-image: url("Imagenes/Login_Perfil/FondoSesion.png");  /* aquí tu imagen */
    background-size: cover;           /* ajusta la imagen al tamaño del botón */
    background-position: center; 
    border-radius: 50px;  /* radios de 10px en todas las esquinas */
}

#contenedorLoginAsist {
    width: 33.3%;
    height: 100%;
    float: left;
}

#contenedorLoginAsist2 {
    width: 100%;
    height: 5%;
}

#contenedorLoginFoto {
    width: 100%;
    height: 50%;
}

.login-container {
    padding-left: 15%;
    padding-top: 10%;
    width: 70%;      
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #931525;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.login-container button:hover {
    opacity: 0.8;
}
